/*Reset*/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #b8f2e6;
    color: #333;
    line-height: 1.6;
}
header{
    background-color: #00b894;
    color: white;
    padding: 1.5rem;
    text-align: center;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}
nav ul li{
    margin: 0.5rem 1rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
}
main{
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
}
section{
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
h2{
    color: #00b894;
    margin-bottom: 1rem;
}
button{
    padding: 10px 20px;
    background-color: #00b894;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background-color: #019c7d;
}
input,textarea,select{
    width: 100%;
    padding: 10px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: inherit;
}
footer{
    background-color: #00b894;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}
/*image Styling*/
.home-image-box{
    text-align: center;
    margin-top: 1.5rem;
}
.home-image{
    width: 100%;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
/*Responsive*/
@media screen and (max-width:600px){
    nav ul{
        flex-direction: column;
    }
}
button{
    width: 100%;
}